@inherits LayoutComponentBase

<nav class="navbar navbar-expand-md navbar-dark bg-dark p-3">
    <a class="navbar-brand" href="/products">List</a>
    <a class="navbar-brand" href="/products/create">Create</a>
</nav>
<main class="ms-3 me-3 mt-2"> @Body </main>

